<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN FORM</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="stylereg.css">
  </head>
  <body>
    <div class="input-container">
      <div class="register-box" id="sign-in">
        <h1>Sign In</h1>
        <form method="post" action="/auth/login">
          <div class="input-box">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Email-id" required>
          </div>
          <div class="input-box">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn" value="Sign In" name="signIn" id="signIn">Sign in</button>
        </form>
        <p>------------OR------------</p>
        <div class="links">
          <p>Don't have account yet</p>
          <button id="signup">Sign Up</button>
        </div>
      </div>
    </div>
  </body>
</html>